:root {
    --title-color: #000000;
    --secondary-title-color: #263238;
    --text-color: #8F95A5;
    --cost-backround-color: #EEEEEE;
    --skills-backround-color: #F5F5F5;
    --button-backround: #263238;
    --button-text-color: #FFFFFF;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}

.container {
    width: 1338px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.50;
    color: var(--title-color);
}

/* --------------------header------------------ */
.logo {
    font-size: 36px;
    line-height: 1.50;
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.logo-accent {
    color: #939393;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 45px 0;
}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: 121px;
}

.header-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.50;
    color: var(--secondary-title-color);
    padding: 30px 0;
}

.button-light {
    font-family: inherit;
    font-style: normal;
    font-size: 20px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: transparent;
    border: 2px solid var(--secondary-title-color);
    border-radius: 10px;
    min-width: 312px;
    padding: 20px 0;
}

/* -------------------hero------------------- */
.hero-container {
    display: flex;
}

.hero-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    color: var(--title-color);
}

.hero-info {
    margin-right: 144px;
}

.hero-wrap {
    display: flex;
    margin-bottom: 40px;
}

.hero-text {
    font-size: 24px;
    line-height: 1.50;
    color: var(--text-color);
    margin-bottom: 60px;
}

.button-hero {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--button-text-color);
    background: var(--button-backround);
    border-radius: 10px;
    min-width: 426px;
    padding: 23px 0;
}

/* ---------------------skills------------- */
.section {
    padding: 90px 0;

}

.skills-title {
    text-align: center;
    margin-bottom: 60px;
}

.skills-title {}

.skill-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

}

.item-speaking {
    grid-area: 1 / 1 / 3 / 2;
}

.item-writing {
    grid-area: 1 / 2 / 2 / 3;
}

.item-reading {
    grid-area: 1 / 3 / 2 / 4;
}

.item-listening {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.skils-info {
    padding: 24px 18px;
}

.skill-item {
    background: var(--skills-backround-color);
    border-radius: 10px;
}

.skill-item-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.50;
    color: var(--secondary-title-color);
    margin-bottom: 20px;
}

.skill-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 30px;
}

.button-skills {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.50;
    color: var(--button-text-color);
    background: var(--button-backround);
    border-radius: 10px;
    min-width: 218px;
    padding: 15px 0;
}

/* ----------------about us-------------------------- */
.about-container {
    display: flex;
}

.about-title {
    margin-bottom: 60px;
}

.about-text {
    font-size: 20px;
    line-height: 1.80;
    color: var(--text-color);
    margin-bottom: 30px;
}

.about-info {
    margin-right: 146px;
}

.about-list {
    display: flex;
    gap: 131px;
}

.about-item {
    text-align: center;
    flex-basis: calc((100% - 2 * 131px) / 3);
}

.about-number {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.50;
    color: #2A3246;
    margin-bottom: 6px;
}

.about-number-text {
    font-size: 20px;
    line-height: 1.50;
    color: var(--text-color);
}

/* --------------------------------pricing----------- */

.pricing-title {
    text-align: center;
    margin-bottom: 60px;
}

.pricing-list {
    height: max-content;
    display: flex;
    gap: 30px;
}

.pricing-item {}

.pricing-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.pricing-item-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.60;
    text-transform: capitalize;
    color: var(--secondary-title-color);
    margin-top: 31px;
    margin-bottom: 20px;
}

.pricing-text {
    font-size: 20px;
    line-height: 1.50;
    color: var(--text-color);
    margin-bottom: 30px;
    height: 100%;

}

.cost {
    display: flex;
    background-color: var(--cost-backround-color);
    padding: 5px 29px;

}

.pricing-cost {
    font-size: 24px;
    line-height: 1.50;
    text-align: center;
    color: var(--secondary-title-color);
    margin-right: 21px;
}

.cost-time {
    font-size: 18px;
    line-height: 1.50;
    text-align: center;
    color: #546269;
}


/* ----------------------------contact-------------- */
.contacts-container {
    display: flex;
}

.contact-info {
    margin-left: 145px;
}

.contact-title {
    margin-bottom: 60px;
}

.contact-text {
    font-size: 20px;
    line-height: 1.50;

    color: var(--text-color);
    margin-bottom: 30px;
}

.input-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color);
}

.button-contact {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--button-text-color);
    background: var(--button-backround);
    border-radius: 10px;
}

/* ------------------------foooter----------------- */
.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-link {
    font-size: 24px;
    line-height: 1.50;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.footer-list {
    display: flex;
    gap: 80px;
    align-items: center;
}